pipeline/ingest_kcor_incr_esul_flat_file.json
{
	"name": "ingest_kcor_incr_esul_flat_file",
	"properties": {
		"description": "Pipeline que realiza a ingestão de dados on-premises de todas as tabelas do KCOR da  Ecosul para camada bronze",
		"activities": [
			{
				"name": "ListarTabelas",
				"description": "Lista as tabelas contidas na base de dados. Seleciona dinamicante o schema e nome das tabelas, conforme o comando SQL na aba \"Definições\"",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TB2.NAME + '.' + TB1.NAME AS TABLE_NAME\nFROM SYS.TABLES TB1\nINNER JOIN SYS.SCHEMAS TB2\nON TB2.SCHEMA_ID = TB1.SCHEMA_ID\nWHERE TB1.NAME IN ('TAuxSentidos',\n\t\t\t\t\t'TAuxTiposAcidentes',\n\t\t\t\t\t'TAuxTiposAtendimentos',\n\t\t\t\t\t'TAuxTiposOcorrencias',\n\t\t\t\t\t'TAuxTiposRecursos',\n\t\t\t\t\t'TAuxTiposVeiculos',\n\t\t\t\t\t'TAuxVitPosicoes',\n\t\t\t\t\t'TAuxVitSituacoes',\n\t\t\t\t\t'TAuxCondicoesMeteorologicas',\n\t\t\t\t\t'TAuxCausasProvaveis',\n\t\t\t\t\t'TAuxOrigemChamado',\n\t\t\t\t\t'TAuxConservGestores',\n\t\t\t\t\t'TAuxConservStatus',\n\t\t\t\t\t'TAuxConservTipos',\n\t\t\t\t\t'TAuxConservOrigem',\n\t\t\t\t\t'TAuxAnimais',\n\t\t\t\t\t'TAuxAnimaisDestinos',\n\t\t\t\t\t'TAuxTiposProvAnimais',\n\t\t\t\t\t'TAuxFuncionarios',\n\t\t\t\t\t'TAuxRodovias'\n)\nORDER BY TB1.NAME",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_KCOR_ESUL",
						"type": "DatasetReference",
						"parameters": {
							"schema": "x",
							"table": "x"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetarValorInicial",
				"description": "Seta o valor inicial 0 (zero) da variável \"contador\", que contém o número da tabela que está sendo processada",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetarTabelasAux",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "contador",
					"value": "0"
				}
			},
			{
				"name": "IterarTabelas",
				"description": "Realiza a iteração entre as tabelas listadas no passo anterior (ListarTabelas)",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetarValorInicial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListarTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SelecionarTabela",
							"description": "Seleciona tabela a ser processada",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AtualizarContador",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nome_tabela",
								"value": {
									"value": "@item().TABLE_NAME",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetarValorAuxiliar",
							"description": "Verifica o valor da variável \"contador\" e seta como valor da variável \"auxiliar\"",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "aux",
								"value": {
									"value": "@variables('contador')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AtualizarContador",
							"description": "Adiciona 1 no valor da variável \"contador\" para atualizar o número da tabela que está sendo processada",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetarValorAuxiliar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "contador",
								"value": {
									"value": "@string(add(int(variables('aux')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IngerirTabelaCargaCompletaIncr",
							"description": "Realiza a ingestão da carga de dados, que pode ser completa ou seguindo o valor do campo \"condicao\" do arquivo de parâmetro.\nCaso seja necessário realizar a carga parcial da tabela, no campo \"Query\" da aba \"Source\" é realizada a substituição de $PARAMETRO$ (existente no arquivo de parâmetro \"kcor_[unidade].xlsx\") pelo valor do parâmetro 'dias_atualizacao_p11'). ",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LerArquivoParametroIncr",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT *, getdate() AS data_ingestao FROM ', variables('nome_tabela'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dataset_KCOR_ESUL",
									"type": "DatasetReference",
									"parameters": {
										"schema": "x",
										"table": "x"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dlPath",
									"type": "DatasetReference",
									"parameters": {
										"caminho": {
											"value": "@concat('camada_bronze/kcor/',variables('nome_tabela') , '/' ,  pipeline().parameters.concessao, '/')",
											"type": "Expression"
										},
										"arquivo": {
											"value": "@concat(variables('nome_tabela'),'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LerArquivoParametroIncr",
							"description": "Lê o arquivo de parâmetro",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SelecionarTabela",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"dataset": {
									"referenceName": "planilha_kcor_esul",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "SetarTabelasAux",
				"description": "Set de nomes de tabelas com inserção comum",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ListarTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tabela_aux",
					"value": [
						"dbo.TabRecursosCoberturas",
						"dbo.TauxRecursos",
						"dbo.TabConservacao"
					]
				}
			}
		],
		"parameters": {
			"concessao": {
				"type": "string"
			}
		},
		"variables": {
			"nome_tabela": {
				"type": "String"
			},
			"aux": {
				"type": "String"
			},
			"contador": {
				"type": "String"
			},
			"condicao_where": {
				"type": "String"
			},
			"check": {
				"type": "Boolean"
			},
			"tabela_aux": {
				"type": "Array"
			},
			"pasta_atual": {
				"type": "String"
			}
		},
		"folder": {
			"name": "KCOR/FLAT_FILE/ESUL"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-16T22:41:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}