pipeline/TeamsNotification.json
{
	"name": "TeamsNotification",
	"properties": {
		"description": "Pipeline responsável pela notificação, via canal no Teams, em caso de falha de pipeline.",
		"activities": [
			{
				"name": "Set JSON Schema",
				"description": "Cria a mensagem JSON a ser enviada pelo WebHook",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Alerta de execução de pipeline\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Workspace Synapse:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"RunId da Pipeline:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Nome de Pipeline:\",\n                    \"value\": \"@{pipeline().parameters.name}\"\n                },\n                {\n                    \"name\": \"Status da Pipeline:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Inicio de Execução (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Mensagem:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Horário da Notificação (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"Verificar o Monitoramento de Pipeline\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook URL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamWebhookUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@variables('messageCard')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string"
			},
			"resourceGroup": {
				"type": "string"
			},
			"runId": {
				"type": "string"
			},
			"name": {
				"type": "string"
			},
			"triggerTime": {
				"type": "string"
			},
			"status": {
				"type": "string"
			},
			"message": {
				"type": "string"
			},
			"teamWebhookUrl": {
				"type": "string"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CONTROLE"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-27T19:41:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}